@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

 body {
     width: 100%;
     height: 100vh;
     display: flex;
     flex-direction: column;
 }

.attribution {
    margin-top: auto;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--Almost-Black);

}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.logo {
    padding-top: 10px;
    margin-right: 55px;
}

.register > a {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid var(--Medium-Gray);
    margin-left: 20px;
    border-radius: 10px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--Medium-Gray);
    padding: 10px;
    margin: 0px 10px;
    font-weight: 500;
}

ul li a:hover {
    color: var(--Almost-Black);
}

.dropdown > a::after {
    content: url("./images/icon-arrow-down.svg");
    margin-left: 8px;
}

.drop-content {
    display: none;
    flex-direction: column;
    min-width:110px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    background-color: var(--Almost-White);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -3px -1px 17px 5px rgba(0,0,0,0.19);
    -webkit-box-shadow: -3px -1px 17px 5px rgba(0,0,0,0.19);
    -moz-box-shadow: -3px -1px 17px 5px rgba(0,0,0,0.19);
    top: 30px;
    /* right: 0; */
    z-index: 10;

}

li.dropdown:hover .drop-content{
    display: flex;
}

.dropdown:hover > a::after {
    content: url("./images/icon-arrow-up.svg");
}

/* li.active .drop-content {
    display: flex;
} */

.drop-content.features-drop {
    right: 15px;
}

.drop-content.company-drop {
    left: 20px;
}

.dropdown {
    position: relative;
    padding: 10px;
}

.drop-content ul {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

li.drop-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px;
}

li.drop-item img {
    margin: 0px 15px 0px 0px;

}

li.drop-item a {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

main {
    display: flex;
    width: 100%;
    height: 670px;
    padding: 0px 140px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 45px;
}

.left {
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    width: 50%;
    height: 100%;
    background-image: url("./images/image-hero-desktop.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 130px;

}

.right img {
    width: 100%;
    /* height: 100%; */
}

.left h1 {
    font-size: 84px;
}

.left p {
    margin-top: 40px;
    font-size: 18px;
    color: var(--Medium-Gray);
    max-width: 445px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 60px;
    font-weight: 700;
}

.btn:hover {
    background-color: var(--Almost-White);
    border: 2px solid var(--Almost-Black);
    color: var(--Almost-Black);
    padding: 13px 30px;
}

.brands {
    margin-top: 110px;
    height: 45px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    content: url("./images/icon-menu.svg");
    display: none;
}

.overlay {
    display: none;
}

.nav-background {
    display: none;
}

@media (max-width: 800px) {
    body {
        height: 850px;
        position: relative;
    }
    main {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin-top: 0px;
        /* height: 800px; */
    }

    .left {
        margin: 0px;
        padding: 0px 20px;
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .brands img {
        width: 60px;
    }

    .left p {
        margin-top: 25px;
        font-size: 16px;
        max-width: 100%;
        width: 100%;
    }

    .left h1 {
        width: 100%;
        max-width: 100%;
        font-size: 38px;
    }

    .left .btn {
        margin-top: 25px;
    }

    .left .brands {
        margin-top: 35px;
        max-width: 100%;
        width: 100%;
    }

    .right {
        order: -1;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 300px;
        background-image: url("./images/image-hero-mobile.png");
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .active .nav-items {
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 0;
        max-width: 65vw;
        align-items: flex-start;
        margin-top: 90px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .active .nav-items a {
        margin: 0px;
        display: inline-block;
        padding: 15px;
    }

    .active .nav-items .nav-right {
        width: 100%;
        margin-top: 50px;
    }

    .active .nav-items .nav-right li {
        align-self: center;
    }

    .active .nav-items .nav-right li a {
        display: inline-block;
        width: 100%;
    }

    .active .nav-items .nav-right li.register{
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .active .nav-items li.dropdown {
        padding: 0px;
    }

    .active ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .hamburger {
        display: flex;
        transition: ease-in-out 0.5s;
    }

    nav {
        justify-content: space-between;
        overflow: hidden;
    }

    .active .hamburger {
        content: url("./images/icon-close-menu.svg");
        z-index: 100;
        color: black;
    }

    .active .overlay {
        display: block;
        position: absolute;
        height: 100vh;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.697);
        transition: 0.5s;
    }
    
    .active .nav-background {
        display: block;
        position: absolute;
        right: 0;
        left: 150px;
        bottom: 0;
        top: 0;
        background-color: white;
        transition: 0.5s;
    }
}